.centered {
    text-align: center;
}

#the-rubymotion {
    font-size: 3rem;
}

@media (max-width: 380px) {
    .hero-unit {
        padding: 60px 10px;
        font-size: 70%;
    }
}

.container {
    max-width: 700px;
}

.buy {
    font-size: 1.5rem;
}

#by-me iframe.twitter-follow-button {
    position: relative;
    top: 5px;
    left: 5px;
}

@media (max-width: 459px) {
    #about-me-header iframe.twitter-follow-button {
        margin: 0 auto;
        display: block;
    }
    #about-me-header {
        text-align: center;
    }
}


@media (min-width: 460px) {
    #about-me-header iframe.twitter-follow-button {
        float: right;
        display: inherit;
        margin: 0 0;
    }
}



.about {
    font-size:1rem;
    line-height: 1.5rem;
    margin-bottom: 1.5rem;
}

#about-me-header {
    margin-bottom: 10px;
}